@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/regular";

// Variables
@import 'web-variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.moving-text-primary{
  background-image: linear-gradient(to right, #ffffff, #00F260, #f79d00, #00aeef, #64f38c, #ffffff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

  background-size: 300%;
  background-position: -100%;

  animation: animatedText 5s infinite alternate-reverse;
}

@keyframes animatedText{
  to{
    background-position: 100%;
  }
}
